@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
  color: #96ca3a;
  font-family: "Montserrat", sans-serif;
  background: url("../quantox-logo-bkg.png") no-repeat top center;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 61vh;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
button {
  margin-top: 1em;
  background-color: #96ca3a;
  border-radius: 10px;
  font-weight: bold;
  padding: 3px;
  font-family: "Montserrat", sans-serif;
  border-color: #96ca3a;
}
input {
  width: 47%;
  color: lightgrey;
  background-color: black;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #96ca3a;
}
.label-box {
  margin-top: 2em;
  margin-bottom: 1em;
}
.app-box {
  margin-top: 5em;
  font-size: medium;
}
.text-area {
  font-weight: bolder;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #96ca3a;
  color: lightgrey;
  width: 47%;
  resize: vertical;
  min-height: 5em;
  max-height: 18em;
}
.txt-area-label-box {
  margin-top: 3em;
}
